In [9]:
from datetime import datetime

head = ["DATA", "VALOR", "DESCRIÇÃO", "PAGAMENTO", "TIPO"]

#DATA
l = [   [(datetime(2022, 9, 14), 13.99, "Cartão", "Crédito", "Spotify")],
        [(datetime(2022, 9, 14), 27.90, "Cartão", "Crédito", "Netflix")],
        [(datetime(2022, 9, 14), 35.99, "Cartão", "Débito", "Água")],
        [(datetime(2022, 9, 14), 5.99, "Dinheiro", "A vista", "Lanche")],
        [(datetime(2022, 9, 14), 14.90, "Cartão", "Crédito", "Amazon")],
        [(datetime(2022, 9, 14), 17.90, "Cartão", "Crédito", "Youtube Premium")],
        [(datetime(2022, 9, 14), 24.99, "Cartão", "Crédito", "Curso Udemy")],
        [(datetime(2022, 9, 14), 4.40, "Dinheiro", "A vista", "Passagem")],
        [(datetime(2022, 9, 14), 35.99, "Cartão", "Débito", "Almoço")],
        [(datetime(2022, 9, 14), 35.99, "Cartão", "Débito", "Doce")],
        [(datetime(2022, 10, 27), 13.99, "Cartão", "Crédito", "Spotify")],
        [(datetime(2022, 10, 27), 27.90, "Cartão", "Crédito", "Netflix")],
        [(datetime(2022, 10, 27), 14.90, "Cartão", "Crédito", "Amazon")],
        [(datetime(2022, 10, 27), 17.90, "Cartão", "Crédito", "Youtube Premium")],
        [(datetime(2022, 10, 27), 24.99, "Cartão", "Crédito", "Curso Udemy")],
        [(datetime(2022, 10, 27), 35.99, "Cartão", "Débito", "Almoço")],
        [(datetime(2022, 10, 27), 35.99, "Cartão", "Débito", "Doce")],
        [(datetime(2022, 11, 5), 13.99, "Cartão", "Crédito", "Spotify")],
        [(datetime(2022, 11, 5), 27.90, "Cartão", "Crédito", "Netflix")],
        [(datetime(2022, 11, 5), 14.90, "Cartão", "Crédito", "Amazon")],
        [(datetime(2022, 11, 5), 17.90, "Cartão", "Crédito", "Youtube Premium")],
        [(datetime(2022, 11, 5), 24.99, "Cartão", "Crédito", "Curso Udemy")],
        [(datetime(2022, 11, 5), 35.99, "Cartão", "Débito", "Almoço")],
        [(datetime(2022, 11, 5), 35.99, "Cartão", "Débito", "Doce")]
]

# print(l)

In [10]:
#Tried this, but not worked

"""
import pandas as pd

l_df = pd.DataFrame(l, columns=head)

print(l_df)
"""

#This is what I was looking for...

"""
#         DATA       PRODUTO   VALOR DESCRIÇÃO RECEBIMENTO       TIPO
# 0 2022-09-14     HotWheels   13.99      Novo      Compra  Brinquedo
# 1 2022-09-15  Jack Daniels  139.99      Novo    Presente     Bebida
"""

'\n#         DATA       PRODUTO   VALOR DESCRIÇÃO RECEBIMENTO       TIPO\n# 0 2022-09-14     HotWheels   13.99      Novo      Compra  Brinquedo\n# 1 2022-09-15  Jack Daniels  139.99      Novo    Presente     Bebida\n'

In [11]:
#Transforming lists to DataFrame

import pandas as pd

l_df = pd.DataFrame()
for i in range(len(l)):
    df = pd.DataFrame(l[i])
    l_df = pd.concat([l_df, df], ignore_index=True)

l_df.columns = head
print(l_df)

         DATA  VALOR DESCRIÇÃO PAGAMENTO             TIPO
0  2022-09-14  13.99    Cartão   Crédito          Spotify
1  2022-09-14  27.90    Cartão   Crédito          Netflix
2  2022-09-14  35.99    Cartão    Débito             Água
3  2022-09-14   5.99  Dinheiro   A vista           Lanche
4  2022-09-14  14.90    Cartão   Crédito           Amazon
5  2022-09-14  17.90    Cartão   Crédito  Youtube Premium
6  2022-09-14  24.99    Cartão   Crédito      Curso Udemy
7  2022-09-14   4.40  Dinheiro   A vista         Passagem
8  2022-09-14  35.99    Cartão    Débito           Almoço
9  2022-09-14  35.99    Cartão    Débito             Doce
10 2022-10-27  13.99    Cartão   Crédito          Spotify
11 2022-10-27  27.90    Cartão   Crédito          Netflix
12 2022-10-27  14.90    Cartão   Crédito           Amazon
13 2022-10-27  17.90    Cartão   Crédito  Youtube Premium
14 2022-10-27  24.99    Cartão   Crédito      Curso Udemy
15 2022-10-27  35.99    Cartão    Débito           Almoço
16 2022-10-27  35.99    Cartão    Débito             Doce
17 2022-11-05  13.99    Cartão   Crédito          Spotify
18 2022-11-05  27.90    Cartão   Crédito          Netflix
19 2022-11-05  14.90    Cartão   Crédito           Amazon
20 2022-11-05  17.90    Cartão   Crédito  Youtube Premium
21 2022-11-05  24.99    Cartão   Crédito      Curso Udemy
22 2022-11-05  35.99    Cartão    Débito           Almoço
23 2022-11-05  35.99    Cartão    Débito             Doce

In [12]:
print(l_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATA       24 non-null     datetime64[ns]
 1   VALOR      24 non-null     float64
 2   DESCRIÇÃO  24 non-null     object
 3   PAGAMENTO  24 non-null     object
 4   TIPO       24 non-null     object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.1+ KB
None

In [13]:
#Filtering by two variables

# new_price = l_df[l_df['RECEBIMENTO'].isin(["Empréstimo","Compra"])]
# print(new_price)

In [14]:
#Sum the value that match by the filter

# price_total = new_price["VALOR"].sum()
# print(price_total)

In [15]:
# print(l_df, "\n")

#First: Filtering the day

dia = l_df[l_df["DATA"].isin(["2022-09-14"])]
print(dia, "\n")

#Second: Filtering "RECEBIMENTO"

tipo = dia[dia["PAGAMENTO"].isin(["Débito", "A vista"])]
print(tipo, "\n")

#Third: If the results of all the filters before calculate the value
#   "In this day, all this type of receive had that amount of value"

valor_total = str(round(tipo["VALOR"].sum(), 2))
string_value = "R$ " + valor_total
print(string_value, "\n")

        DATA  VALOR DESCRIÇÃO PAGAMENTO             TIPO
0 2022-09-14  13.99    Cartão   Crédito          Spotify
1 2022-09-14  27.90    Cartão   Crédito          Netflix
2 2022-09-14  35.99    Cartão    Débito             Água
3 2022-09-14   5.99  Dinheiro   A vista           Lanche
4 2022-09-14  14.90    Cartão   Crédito           Amazon
5 2022-09-14  17.90    Cartão   Crédito  Youtube Premium
6 2022-09-14  24.99    Cartão   Crédito      Curso Udemy
7 2022-09-14   4.40  Dinheiro   A vista         Passagem
8 2022-09-14  35.99    Cartão    Débito           Almoço
9 2022-09-14  35.99    Cartão    Débito             Doce

        DATA  VALOR DESCRIÇÃO PAGAMENTO      TIPO
2 2022-09-14  35.99    Cartão    Débito      Água
3 2022-09-14   5.99  Dinheiro   A vista    Lanche
7 2022-09-14   4.40  Dinheiro   A vista  Passagem
8 2022-09-14  35.99    Cartão    Débito    Almoço
9 2022-09-14  35.99    Cartão    Débito      Doce

R$ 118.36